<template id="sesionAdmin" name="mainServices">
		<div class="breadcrumbs">
			<div class="container">
				<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
					<li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
					<li class="active">Pagina De Gestion De Servicios Mecanicos</li>
				</ol>
			</div>
		</div>
		<div class="register">
			<div class="container">
				<h2>Sesion como Mecanico</h2>
				<div class="login-form-grids">
					<label for="Name" text-aling=center>Gestion De Servicios Mecanicos</label>
					<!--<form action="/GesServ" method="post">-->
					<form name="RegistrarServicio">
						<input type="button" name="RegServ" id="RegServ" value="Registar Servicio">
						<!--<input type="submit" value="Registrar Servicio">-->
					</form>
					<!--<form action="/GesServCon" method="post"> -->
					<form name="ConsultarServicio">
						<input type="button" name="ConsServ" id="ConsServ" value="Consultar Servicio">
				   <!--  <input type="submit" value="Consultar Servicios">-->
				  </form>
					<!--<form action="/GesServMod" method="post">-->
					<form name="ModificarServicio">
						<input type="button" name="ModServ" id="ModServ" value="Modificar Servicio">
					</form>
				</div>
				<div class="login-form-grids">
						<label for="Name" text-aling=center>Busqueda</label>
					<form name="Buscar">
						<input type="button" name="Buscar" id="BuscSer" value="Buscar Servicios">

					</form>
					<form name="revisionServicios">
						<input type="button" id="RevServ" name="RevServ" value="Revision de Servicios">
					</form>
				</div>

			</div>
		</div>
	<div class="footer">
			<div class="footer-copy">

				<div class="container">
					<p>© 2017 INFOCANICA. Creditos  Romero-Landazuri-Rivadeneira</p>
				</div>
			</div>

		</div>
		<div class="footer-botm">
				<div class="container">
					<div class="w3layouts-foot">
						<ul>
							<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
							<li><a href="#" class="w3_agile_vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
						</ul>
					</div>
					<div class="payment-w3ls">
						<img src="/images/card.png" alt=" " class="img-responsive">
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>

		<script type="text/javascript">
			$(document).ready(function() {
				$().UItoTop({ easingType: 'easeOutQuart' });
				});
		</script>


</template>
