<template id="gestionarServicios" name="gestionarServicios">
	<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="/MecanicServ"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
				<li class="active">Registro De Servicios Mecanicos</li>
			</ol>
		</div>
	</div>
<!-- //breadcrumbs -->
<!-- register -->
	<div class="register">
		<div class="container">
			<h2>Registrar Servicio</h2>
			<div class="login-form-grids">
				<form class="insert-serv" method="post" id="usrform">
					  <input type="text" placeholder="Tipo De Servicio" required  name="TipServ">
						<textarea rows="4" cols="38" name="DescServ" form="usrform" placeholder="Descripcion Del Servicio" required></textarea>
						<select id="country" class="frm-field required sect" name="Sucursal" form="usrform">
							<option value="Sucursal por defecto"><i class="fa fa-arrow-right" aria-hidden="true"></i>Sucursal por defecto</option>
							<option value="Sucursal Sur"><i class="fa fa-arrow-right" aria-hidden="true"></i>Sucursal Sur</option>
							<option value="Sucursal Centro"><i class="fa fa-arrow-right" aria-hidden="true"></i>Sucursal Centro</option>
							<option value="Sucursal Norte"><i class="fa fa-arrow-right" aria-hidden="true"></i>Sucursal Norte</option>
						</select>
						<input type="text" placeholder="Costo" required name="Cost">
						<input type="submit" class="Ingresar" value="Ingresar">
				</form>

			</div>
			<div class="register-home">
				<a href="/MecanicServ">Volver al inicio</a>
			</div>


		</div>
	</div>

</template>
