<template id="meca" name="consultarServicios">
  <div class="breadcrumbs">
    <div class="container">
      <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
        <li><a href="/MecanicServ"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
        <li class="active">Consulta De Servicios Ofertados</li>
      </ol>
    </div>
  </div>
  <div class="register">
    <div class="container">
      <h2>Servicios Ofertados</h2>

      <table class="responstable">
        <tr>
          <th ><span>Tipo de Servicio</span></th>
          <th >Descripcion</th>
          <th>Sucursal</th>
          <th>Costo</th>
          <th>Borrar</th>
        </tr>
          {{#each Services}}
          <tr>
            <td>{{tipServ}}</td>
            <td>{{descript}}</td>
            <td>{{costo}}</td>
            <td>{{sucursal}}</td>
            <td><button class="delete">Borrar</button></td>
          </tr>
          {{/each}}
      </table>

    </div>
  </div>
  
  <script type="text/javascript">
  $(document).ready(function() {
    $().UItoTop({ easingType: 'easeOutQuart' });
    });
  </script>
</template>
