<template id="modserv" name="modificarServicios">
  <div class="breadcrumbs">
    <div class="container">
      <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
        <li><a href="/MecanicServ"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
        <li class="active">Edicion De Servicios Ofertados</li>
      </ol>
    </div>
  </div>
  <div class="register">
    <div class="container">
      <h2>Modificar Servicios Ofertados</h2>

      <table class="responstable">

        <tr>
          <th ><span>Tipo de Servicio</span></th>
          <th>Sucursal</th>
          <th>Descripcion</th>
          <th>Costo</th>
          <th>Actualizar</th>
        </tr>
          {{#each Services}}
          <form class="{{_id}}" id= "{{_id}}" method="post">
          </form>

          <tr>
            <td>{{tipServ}}</td>
            <td >{{sucursal}}</td>
            <td><input type="text" placeholder="{{descript}}" size="15" name="Descripcion" id="Descripcion" form="{{_id}}" required></td>
            <td><input type="text" placeholder="{{costo}}" size="15" name="Costo" id="Costo" form="{{_id}}" required></td>
            <td><input type="submit" name="update" value="Actualizar" form="{{_id}}"></td>
          </tr>
          {{/each}}
      </table>

    </div>
  </div>

  <script type="text/javascript">
  $(document).ready(function() {
    $().UItoTop({ easingType: 'easeOutQuart' });

    });
  </script>
</template>
