<template id="layout" name="layout">

  <div class="agileits_header">
		<div class="container">
			<div class="w3l_offers">
				<p>                          </p>
			</div>
			<div class="agile-login">
        {{# if currentUser}}
          <ul class="nav navbar-nav navbar-left">
            <!--<a href="{{pathFor 'mainServices'}}"> </a>  onclick="location.href=+'{{pathFor '+GLOBAL_TYPE_USER+'}}';" -->
              <!--  <li><a class="aDonde" href="/" onclick="location.href=GLOBAL_TYPE_USER;return false;" id="GestionBtn">  Gestion </a></li>-->
                <li><a class="aDonde"  id="GestionBtn">  Gestion </a></li>
              <!--  <li><a class="aDonde" href="/" onclick="location.href=GLOBAL_TYPE_USER;return false;" id="GestionBtn">  Gestion </a></li>-->
            <!--    <button class="aDonde" href="/" onclick="location.href=GLOBAL_TYPE_USER;return false;">Gestion</button>  -->
          </ul>
          {{else}}
          <ul class="nav navbar-nav navbar-right">
              <li><a href="{{pathFor 'signUp'}}"> Join </a> </li>
  				</ul>
        {{/if}}
        <ul class="nav navbar-nav navbar-right">
          <li><a>{{> loginButtons}}</a></li>
        </ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>


    <div class="logo_products">
      <div class="container">
      <div class="w3ls_logo_products_left1">
          <ul class="phone_email">
            <li><i class="fa fa-phone" aria-hidden="true"></i>Asistente online +59399999999</li>
          </ul>
        </div>
        <div class="w3ls_logo_products_left">
          <h1><a href="/" id="nameInfocanica" onclick="validarDirectorio()">Infocanica</a></h1>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  <div class="main">
    {{> yield}}
  </div>

  <script type="text/javascript">
  $(document).ready(function() {
    $().UItoTop({ easingType: 'easeOutQuart' });
    });
  </script>

  <script type="text/javascript">
    function validarDirectorio(){
      if(Meteor.user()!=null){
        if(Meteor.user().username.indexOf("ADMIN") != -1){
          document.getElementById("nameInfocanica").href="/GesAdmin";
        }else{
          document.getElementById("nameInfocanica").href="/";
        }
      }
    }
  </script>

</template>
