<template id="meca" name="modifyMechanics">
  <div class="breadcrumbs">
    <div class="container">
      <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
        <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
        <li class="active">Modificar Informacion Mecanico</li>
      </ol>
    </div>
  </div>
  <div class="register">
    <div class="container">
      <h2>Modificar Mecanicos</h2>

      <table class="responstable">

        <tr>
          <th ><span>Cedula</span></th>
          <th >Nombre</th>
          <th>Apellido</th>
          <th>Correo Electronico</th>
          <th>Direccion de Sucursal</th>
          <th>Telefono</th>
          <th>Nombre mecanica</th>
          <th>Sucursal</th>
          <th>Actualizar</th>
        </tr>
          {{#each Mechanics}}
            <form class="{{_id}}" id="{{_id}}" method="post">
            </form>
          <tr>
            <td>{{dni}}</td>
            <td>{{name}}</td>
            <td>{{surname}}</td>
            <td><input type="text" placeholder="{{email}}" size="13" name="Email" form="{{_id}}" required></td>
            <td><input type="text" placeholder="{{direction}}" size="14" name="Dir" form="{{_id}}" required></td>
            <td><input type="text" placeholder="{{phone}}" size="8" name="Phone" form="{{_id}}" required></td>
            <td><input type="text" placeholder="{{mechanicName}}" size="13" name="MechanicName" form="{{_id}}" required></td>
            <td><input type="text" placeholder="{{branch}}" size="8" name="Branch" form="{{_id}}" required></td>
            <td><input type="submit" name="update" value="Actualizar" form="{{_id}}"></td>
          </tr>
          {{/each}}
      </table>

    </div>
  </div>

  <script type="text/javascript">
  $(document).ready(function() {
    $().UItoTop({ easingType: 'easeOutQuart' });
    });
  </script>
</template>
