<template name="signUp">
  <div class="container">
    <h2>Registrate</h2>
    <div class="login-form-grids">
      <form action="/Start" method="post">
      <h5>Informacion de Perfil</h5>
      <input type="text" placeholder="Nombres" name="registerName" required >
      <input type="text" placeholder="Apellidos" name="registerLast" required >
      <h6>Informacion de Ingreso</h6>
        <input type="text" placeholder="Usuario " name="registerUser" required >
        <input type="email" placeholder="Email " name="registerEmail" required >
        <input type="password" placeholder="Contraseña" name="registerPassword" required >
        <input type="password" placeholder="Confirmar Contraseña" required >
        <div class="register-check-box">
          <div class="check">
            <label class="checkbox"><input type="checkbox" name="checkbox"><i> </i>Acepto los terminos y condiciones...</label>
          </div>
        </div>
        <input type="submit" value="Registrarme ahora">
      </form>
    </div>
    <div class="register-home">
      <a href="\">Página Principal</a>
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function() {
      $().UItoTop({ easingType: 'easeOutQuart' });
    });
  </script>

</template>
