<template id="search" name="searchSom">
	<div class="w3l_search">
		<!--<form   method="post"  name="formSe">-->

		<form   onsubmit="return false;" name="formSe">
			<input type="text" name="Search" placeholder="Buscar Servicios" required="" id="Search" onchange="cargarBusqueda()" onkeypress="runScript(event)" class="txtboxSEARCH">
		</form>
	<input type="image" class="buscaA" name="search" src="http://www.clker.com/cliparts/7/C/B/Q/6/n/search-icon-hi.png" alt="Search">
			<div class="clearfix"></div>
		<!--</form>-->
<!--
		<button class="buscaA" id="buscar" name="buscar" aria-label="Left Align">
			<input type="image" class="buscaA" name="search" src="http://www.clker.com/cliparts/7/C/B/Q/6/n/search-icon-hi.png" alt="Search">
		</button>
-->
	</div>

	<script type="text/javascript">
			function cargarBusqueda()
			{
				Busqueda=document.formSe.Search.value;
			}

			function runScript(e) {
				if (e.keyCode == 13) {
					var tb = document.getElementById("Search");
				  eval(tb.value);
				  return false;
				}
			}
	</script>

</template>
