<template id="meca" name="consultarClientes">
  <div class="breadcrumbs">
    <div class="container">
      <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
        <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
        <li class="active">Usuarios Registrados en la Pagina</li>
      </ol>
    </div>
  </div>
  <div class="register">
    <div class="container">
      <h2>Clientes Registrados</h2>

      <table class="responstable">

        <tr>
          <th ><span>Nombres</span></th>
          <th >Username</th>
          <th>Email</th>
          <th>Registrado</th>
        </tr>
          {{#each  Clientes}}
          <tr>
            <td>{{nameVar}} {{lastNameVar}}</td>
            <td>{{userVar}}</td>
            <td>{{emailVar}}</td>
            <td>{{createdAt}}</td>
          </tr>
          {{/each}}
      </table>

    </div>
  </div>
  
  <script type="text/javascript">
  $(document).ready(function() {
    $().UItoTop({ easingType: 'easeOutQuart' });
    });
  </script>
</template>
